<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center" mt="95">
				<p class="titulo">
					Sensores para Manutenção Preditiva
				</p>
				<p class="texto">
          Opções de sensores sem fio, ou DynaLoggers com sensores de vibração triaxial e
temperatura embarcados, que comunicam por Bluetooth com o App mobile ou Gateway,
registrando os dados monitorados em sua memória interna. Por conexão internet esses dados
são centralizados na Plataforma DynaPredict Web para análise, prognóstico e tomada de decisão.

				</p>
				<p>
					<a class="btn btn-primary btn-large" href="https://dynamox.net/dynapredict/">VER MAIS</a>
				</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="assets/img/tca 3.jpg" width="276" height="297" />
          <p class="nota">
            TcA+
          </p>
				</div>
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="assets/img/as 3.jpg" />
          <p class="nota">
            AS
          </p>
				</div>
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="assets/img/tca 3.jpg" />
          <p class="nota">
            HF
          </p>
				</div>
			</div>
		</div>
	</div>
</div>
