.titulo{
  color: #37383D ;
  font-weight: bold;
  font-size: 40px;
}

.texto{
  font-size: 24px;
  color: #454545 ;
}
.nota{
  color: #5D7A8C ;
  font-size: 40px;
  font-family: Raleway;
  font-style: Bold;
}
