<div class="container-fluid inicio">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<p>
            Solução
					</p>
          <p>
            DynaPredict
					</p>

				</div>
				<div class="col-md-6 imagem">
					<img src="assets/img/3.jpg" width="692" height="692" alt="..." class="d-inline-block align-text-top">
				</div>
				<!-- <a class="navbar-brand" href="#">
					<img src="/DesafioFrontDynamox/src/assets/img/3.jpg" alt="..." width="692" height="627" class="d-inline-block align-text-top">
				  </a> -->
			</div>
		</div>
	</div>
</div>
