<div class="container-fluid" >
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid header">
      <a class="navbar-brand" href="https://dynamox.net/">
        <img src="assets/img/logo-dynamox-oficial.webp" color= "#FFFFFF" alt="Logo"  class="d-inline-block align-text-top">

      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="https://dynamox.net/dynapredict/">DynaPredict</a>
          <a class="nav-link" href="#">Sensores</a>
          <a class="nav-link" href="#">Contato</a>
        </div>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>
  <app-inicio></app-inicio>
  <app-sensores></app-sensores>
  <app-contato></app-contato>

</div>

